.gallery-thumbnails {
    display: block;
    list-style-type: none;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a,
    .a-pdf {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0.3rem;
        width: 18rem;
        height: 13rem;
        overflow: hidden;
        img {
            //transform: scale(2);
            width: 18rem;
            height: 13rem;
            object-fit: cover;
            transition: 0.5s transform;
            &:hover {
                transform: scale(1.1);
            }
        }
        .pdf {
            display: inline-block;
            width: 18rem;
            height: 13rem;
            transition: 0.5s transform;
            overflow: hidden !important;
            vertical-align: middle;
            padding-top: 30%;
            color: #000000;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .a-pdf {
        border: 1px solid #bdbdbd;
    }
}

#fancybox-buttons {
    ul {
        background: $dark !important;
        background-image: none;
        border-radius: 0 !important;
    }
}

.fancybox-skin {
    background: transparent !important;
    box-shadow: none !important;
}

.fancybox-title.fancybox-title-inside-wrap {
    background: rgba($dark, 1);
    padding: 15px;
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 400 !important;
}

@include media-breakpoint-up(xxl) {
    .gallery-thumbnails {
        a {
            padding: 0;
            margin: 0.7rem;
            width: 23rem;
            height: 15rem;
            img {
                //transform: scale(2);
                width: 23rem;
                height: 15rem;
            }
        }
    }
}

.fancybox-caption {
    text-align: center;
    font-size: 1.2em;
}

.fancybox-caption::after {
    border: 0 !important;
}

.see_more:hover {
    background-color: $black !important;
}

.see_less:hover {
    background-color: $black !important;
}

.fancybox-is-open .fancybox-bg {
    opacity: 1 !important;
}

.fancybox-bg {
    background: black !important;
}

.btn-outline-black {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    font-size: 25px !important;
    font-weight: 400 !important;
}

.gallery-collapse {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}